html,
body {
 height:100%
}
.navbar-default .navbar-nav>li>a {
 color:#fff
}
body {
 color:#b9b9b9;
 padding-top:55px;
 display:flex;
 text-align:center;
 flex-direction:column;
 font-size:medium
}
main {
 margin:auto;
 padding:25px;
 flex:1 0 auto;
 max-width:750px
}
img {
 max-width:100%
}
.intro {
 transform:translateY(22vh)
}
.intro>h1 {
 color:#fff;
 font-size:8vh;
 font-family:sacramento
}
.intro>h2 {
 color:#fff;
 font-size:3vmin
}
h1,
h2,
h3,
h4 {
 color:#fff
}
.content {
 padding-top:20px
}
.profile {
 width:10vh;
 height:10vh;
 border-radius:50%
}
a:link,
a:visited {
 color:#61aeee
}
.post>a:visited {
 color:#fff
}
a.icon:hover {
 text-decoration:none
}
a:hover {
 color:var(--accent)!important
}
.copyright {
 margin:15px 0
}
.pages {
 padding:15px 0
}
.pages-icon {
 padding:0 15px
}
.item {
 padding:10px 0
}
.item-tag {
 background-color:var(--accent)
}
.navbar-icon {
 font-size:125%;
 display:inline-block!important
}
.navbar-default {
 background-color:#0f0f0f;
 border-color:#0f0f0f
}
.navbar.navbar-default {
 border-top:var(--border-width) solid var(--accent)
}
.navbar-default .navbar-brand {
 color:#fff
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
 border-color:#0f0f0f
}
.item-tag {
 background-color:#313131
}
pre {
 background-color:#282c34;
 border:1px solid #282c34
}
code {
 color:#abb2bf;
 background-color:#282c34
}
footer {
 border-bottom:var(--border-width) solid var(--accent)
}

pre>code {
    text-align: left;
}