@font-face {
    src: url('/fonts/TheSansMonoWeb.woff2');
    font-family: TheSansMonoWeb;
}

html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 15px !important;
}

pre {
    background-color: inherit !important;
    padding: 0px !important;
    border: none !important;
}

pre > code {
    padding: 12px !important;
    padding-left: 16px !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    font-family: TheSansMonoWeb;
}

h5 {
    font-size: 15px !important;
}

h2 {
    font-size: 34px !important;
}

h3 {
    font-size: 26px !important;
}

kbd {
    font-size: 96% !important;
}

code {
    text-align: left;
    color:#ededed !important;
    background-color: #121212 !important;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #fff;
    font-size: 12vh;
}

.intro > h2 {
    color: #fff;
    font-size: 3vmin;
}

/* Page content */

.content {
    padding-top: 20px;
    font-size: 16px;
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
    text-align: center;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: #1d1e1e;
    color: #ff4848 !important;
}

a .item-tag:parent {
    text-decoration: none;
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar-default {
    background-color: #0f0f0f !important;
    border-color: #0f0f0f !important;
}

.navbar-default a {
    color: #eee !important;
}

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

.content a {
    color: #ff4848;
}

h4 a, h4 a:hover, .pages a, footer a, span a {
    color: #ff2f2f !important;
}

p code {
    color: #ff2b2b !important;
}