{{ partial "header" . }}

<main>

    <h2>{{ .Title }}</h2>
    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
	  {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">
            {{$name}}
            <span class="badge">{{$cnt}}</span>
        </a>
	  {{end}}
	{{end}}

    {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}

</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
