{{ partial "header" . }}

<main>

    <h2>{{ .Title }}</h2>
    {{ if eq .Title "Posts" }}
        {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                <span>
                <a href={{ .RelPermalink }}>{{$name}}</a>
                <sup>{{$cnt}}</sup>
                </span>
            {{end}}
        {{end}}
    {{ end }}

    {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}

</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
