{{ partial "header" . }}

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h5>{{ .Description }}</h5>
        {{ if isset .Params "path" }}
            <div style="padding-bottom: 10px;">
                <a style="color: #006e32" href="{{ .Params.Path }}">
                    {{ .Params.Path }}
                </a>
            </div>
        {{ end }}
        <p>
        {{ partial "tags" . }}
        </p>
    </div>

    <div align="left" class="content">{{ .Content }}</div>

</main>

{{ partial "footer" . }}
