{{ partial "header" . }}

<script>
    const regex = /<br><font size = \\"\+2\\">([^<]+)<\/font>/gmi;
    $.ajax({
        type: "GET",
        url: "http://pages.cs.wisc.edu/~ballard/bofh/bofhserver.pl",
        async:true,
        crossDomain:true,
        success: function (data) {
            const match = data.match(regex);
            document.getElementById("info").innerHTML = match.match[1];
        }
    });
</script>

<main>
    <div class="intro">
        <h1>¯\_(ツ)_/¯</h1>
        <h2 id="info">Nothing here</h2>
    </div>
</main>

{{ partial "footer" . }}
